//main: index.scss

$c-primary                  : #84ec84;
$c-green                    : #00ff00;
$c-secondary                : #324b5a;
$inp-border                 : #c5c5c5;
$c-link                     : #1a0dab;
$inp-bg                     : #e8e5e5;
$header-bg                  : rgba(2,6,20,0.7);

$header-height              : 80px;
$max-width-desktop          : 1200px;
